@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --color-primary-soft-blue: hsl(231, 69%, 60%);
  --color-primary-soft-red: hsl(0, 94%, 66%);

  --color-neutral-grayish-blue: hsl(229, 8%, 60%);
  --color-neutral-very-dark-blue: hsl(229, 31%, 21%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--color-neutral-very-dark-blue);
}
